<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212896338218-oalu00drf6mi660kbu1e78cv2vm1ocm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212896338218-oalu00drf6mi660kbu1e78cv2vm1ocm1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>212896338218-k28k3sifj992bncavientvju32abl1la.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBg5DAJts1AOj9OiHlBBP5uLb8SFfNxhi0</string>
	<key>GCM_SENDER_ID</key>
	<string>212896338218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tm8.game</string>
	<key>PROJECT_ID</key>
	<string>tm8-gaming</string>
	<key>STORAGE_BUCKET</key>
	<string>tm8-gaming.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212896338218:ios:1157ecbc312ad6a8aa4e53</string>
</dict>
</plist>